.game-cell {
    display: table-cell;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    color: #222;
}

.game-cell-swamp {
    display: table-cell;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background-image: url('/static/images/swamp.png');
}

.game-cell-grass {
    display: table-cell;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background-image: url('/static/images/swampwithgrass.png');
}

.game-cell-water {
    display: table-cell;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background-image: url('/static/images/water.png');
}

.game-cell-shore {
    display: table-cell;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background-color: limegreen;
}

.game-cell-road2 {
    display: table-cell;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background-image: url('/static/images/road.png');
}

.game-cell-road {
    display: table-cell;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background-color: black;
}

#game-field {
    display: inline-block;
    text-align: center;
    padding: 50px;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    box-sizing: border-box;
    position: relative;
}

#frog {
    width: 45px;
    height: 45px;
    background-color: white;
    position: absolute;
    bottom:55px;
    right:300px;
}


