<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frogger</title>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/game.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Frogger</h1>
<div id="game-field">
    <div id="upperRow"></div>
    <div id="row0"></div>
    <div id="row1"></div>
    <div id="row2"></div>
    <div id="row3"></div>
    <div id="row4"></div>
    <div id="row5"></div>
    <div id="row6"></div>
    <div id="row7"></div>
    <div id="row8"></div>
    <div id="row9"></div>
    <div id="row10"></div>
    <div id="row11"></div>
    <div id="row12"></div>
    <div id="frog"></div>
</div>


</body>
</html>