<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frogger</title>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/game.js') }}" defer></script>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Frogger</h1>
<div id="game">
    <div id="game-field">
        <div id="fieldElements">
            <div id="upperRow"></div>
            <div id="row0"></div>
            <div id="row1" 1></div>
            <div id="row2"></div>
            <div id="row3"></div>
            <div id="row4"></div>
            <div id="row5"></div>
            <div id="row6"></div>
            <div id="row7"></div>
            <div id="row8"></div>
            <div id="row9"></div>
            <div id="row10"></div>
            <div id="row11"></div>
            <div id="frog"></div>
        </div>
        <div id="logs">
            <div id="ThreeLongLog"></div>
            <div id="ThreeLongLog2"></div>
            <div id="ThreeLongLog3"></div>
            <div id="FourLongLog"></div>
            <div id="FourLongLog2"></div>
            <div id="ThreeLongLogReversed"></div>
            <div id="ThreeLongLogReversed2"></div>
            <div id="ThreeLongLogReversed3"></div>
            <div id="ThreeLongLogReversed4"></div>
            <div id="ThreeLongLogReversed5"></div>
            <div id="ThreeLongLogReversed6"></div>
            <div id="FourLongLog4"></div>
            <div id="FourLongLog5"></div>
        </div>
        <div id="cars">
            <div id="truckCar"></div>
            <div id="fireCar"></div>
            <div id="blueCarReversed"></div>
            <div id="greenCar"></div>
            <div id="yellowCar"></div>
        </div>
    </div>
</div>

</body>
</html>