<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frogger</title>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/game.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Frogger</h1>
<div id="game">
<div id="game-field">
    <div id="upperRow"></div>
    <div id="row0" data-datacoordinateX = 0></div>
    <div id="row1" data-datacoordinateX = 1></div>
    <div id="row2" data-datacoordinateX = 2></div>
    <div id="row3" data-datacoordinateX = 3></div>
    <div id="row4" data-datacoordinateX = 4></div>
    <div id="row5" data-datacoordinateX = 5></div>
    <div id="row6" data-datacoordinateX = 6></div>
    <div id="row7" data-datacoordinateX = 7></div>
    <div id="row8" data-datacoordinateX = 8></div>
    <div id="row9" data-datacoordinateX = 9></div>
    <div id="row10" data-datacoordinateX = 10></div>
    <div id="row11" data-datacoordinateX = 11></div>
    <div id="frog"></div>
    <div id="ThreeLongLog"></div>
    <div id="ThreeLongLog2"></div>
    <div id="ThreeLongLog3"></div>
    <div id="FourLongLog"></div>
    <div id="FourLongLog2"></div>
    <div id="ThreeLongLogReversed"></div>
    <div id="ThreeLongLogReversed2"></div>
    <div id="ThreeLongLogReversed3"></div>
    <div id="ThreeLongLogReversed4"></div>
    <div id="ThreeLongLogReversed5"></div>
    <div id="ThreeLongLogReversed6"></div>
    <div id="FourLongLog4"></div>
    <div id="FourLongLog5"></div>
</div>
</div>

</body>
</html>